.loader {
  /* transform: translate(-50%, -50%); */
  width: 80px;
  aspect-ratio: 1;
  display: flex;
  color: #1f2937;
  border: 4px solid;
  /* font-size: 2rem; */
  box-sizing: border-box;
  border-radius: 50%;
  background: radial-gradient(circle 5px, currentColor 95%, #0000),
    linear-gradient(currentColor 50%, #0000 0) 50%/4px 60% no-repeat;
  animation: l1 2s infinite linear, rotateOnly 2s infinite linear;
  z-index: 30;
}

.loader::before {
  content: '';
  flex: 1;
  background: linear-gradient(currentColor 50%, #0000 0) 50%/4px 80% no-repeat;
  animation: inherit;
  z-index: inherit;
}

@keyframes rotateOnly {
  100% {
    transform: rotate(1turn);
  }
}

.loader-container {
  /* position: relative; */
  z-index: 20;
}

.loaderContainer::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(40px);
  pointer-events: none;
  z-index: 20;
}
