@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Great+Vibes&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'tailwindcss';

@theme {
  --text-md: 0.95rem;
  --text-md--line-height: 1.25rem;
  --font-nunito: 'Nunito Sans';
  --font-dancingScript: 'Dancing Script';
  --font-greatVibes: 'Great Vibes';
  --font-roboto: 'Roboto';
  --font-JosefinSans: 'Josefin Sans';
  --drop-shadow-3xl: '0 35px 35px rgba(0, 0, 0, 0.25)';
  --drop-shadow-4xl: '0 35px 35px rgba(0, 0, 0, 0.25)',
    '0 45px 65px rgba(0, 0, 0, 0.15)';
  --color-primary-dark: #e5e2b9;
  --color-primary-default: #fefbd8;
  --color-primary-light: #fffeec;
  --color-secondary-dark: #e6d7bd;
  --color-secondary-default: #fff3da;
  --color-secondary-light: #fff9ed;
  --color-contrastText-secondary: #fbfaf5;
  --color-contrastText-primary: #2c2a29;
  --color-accent-secondary: #f1dde2;
  --color-accent-primary: #74293d;
  --color-highlight-dark: #cbbbaa;
  --color-highlight-light: #f3eae2;
  --color-highlight-default: #e4d3c3;
}

@layer base {
  html {
    scroll-behavior: smooth;
    height: 100%;
  }

  body {
    color: #1f2937;
    /* font-family: 'Nunito Sans'; */
    font-family: var(--font-JosefinSans);
    height: 100%;
  }

  button {
    cursor: pointer;
  }

  td {
    @apply p-3 text-left border border-gray-300;
  }
}

::-webkit-scrollbar {
  display: none;
}

.scrollbar-custom::-webkit-scrollbar {
  display: block;
  width: 0.25rem;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #fefefe;
  border-radius: 12px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: hsl(60, 1%, 78%);
  border-radius: 5px;
}

.heading::after {
  content: '';
  position: absolute;
  width: 5%;
  height: 1.3px;
  bottom: 5px;
  left: 50%;
  background-color: var(--color-accent-primary);
  transform: translate(-50%, -50%);
}

/*Range Reset*/
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Removes default focus */
input[type='range']:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type='range']::-webkit-slider-runnable-track {
  background-color: #0891b2;
  border-radius: 0.5rem;
  height: 0.2rem;
}

/* slider thumb */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  margin-top: -0.4rem;
  border-radius: 25%;
  background-color: #155e75;
  height: 1rem;
  width: 1rem;
}

input[type='range']:focus::-webkit-slider-thumb {
  border: 1px solid #0891b2;
  outline: 2px solid #0891b2;
  outline-offset: 0.08rem;
}

/******** Firefox styles ********/
/* slider track */
input[type='range']::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type='range']::-moz-range-thumb {
  border: none;
  border-radius: 0;

  /*custom styles*/
  background-color: #5cd5eb;
  height: 1rem;
  width: 1rem;
}

input[type='range']:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

/* HTML: <div class="loader"></div> */
.loader {
  height: 80px;
  width: 20px;
  /* color: #514b82; */
  background: radial-gradient(farthest-side, currentColor 94%, #0000) top/8px
      8px,
    linear-gradient(currentColor 0 0) top/4px 70%,
    conic-gradient(
        from -30deg at bottom,
        #0000,
        currentColor 2deg 58deg,
        #0000 60deg
      )
      bottom / 100% 20px,
    conic-gradient(
        from 150deg at top,
        #0000,
        currentColor 2deg 58deg,
        #0000 60deg
      )
      bottom 20px left 0/100% 20px;
  background-repeat: no-repeat;
  transform-origin: 50% 4px;
  animation: l15 2s infinite cubic-bezier(0.5, 300, 0.5, -300);
}
@keyframes l15 {
  100% {
    transform: rotate(0.5deg);
  }
}
