@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@200;300;400;500&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap'); */
html {
  scroll-behavior: smooth;
}
body {
  color: #1f2937;
  font-family: 'Nunito Sans';
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #1f2937;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #9ca3af;
  border-radius: 10px;
}

.logo {
  font-family: 'Dancing Script';
  font-weight: 900;
  text-shadow: 0.5px 0.5px 0.1px #374151;
}

.para-style {
  /* font-family: 'Great Vibes'; */
  /* font-family: 'Dancing Script'; */
  font-family: 'Nunito Sans';
}
.aboutus-para {
  font-family: 'Great Vibes';
  /* font-family: 'Dancing Script'; */
}

.testimonial-head {
  font-family: 'Great Vibes';
}

.active {
  background-color: #e5e7eb;
  color: #1f2937;
  border: 1px solid #6b7280;
  border-radius: 5px;
  cursor: not-allowed;
}
