@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #1f2937;
  font-family: 'Nunito Sans';
}

::-webkit-scrollbar {
  /* width: 8px;
   */
  display: none;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    rgb(0, 0, 0),
    rgb(95, 98, 95),
    rgb(95, 98, 95),
    rgb(0, 0, 0)
  );
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #d2d2d2;
  border-radius: 10px;
}

td {
  @apply p-3 text-left border border-gray-300;
}
/********** Range Input Styles **********/
/*Range Reset*/
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  /* width: 15rem; */
}

/* Removes default focus */
input[type='range']:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type='range']::-webkit-slider-runnable-track {
  background-color: #0891b2;
  border-radius: 0.5rem;
  height: 0.2rem;
}

/* slider thumb */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  margin-top: -0.4rem;
  border-radius: 25%;
  background-color: #155e75;
  height: 1rem;
  width: 1rem;
}

input[type='range']:focus::-webkit-slider-thumb {
  border: 1px solid #0891b2;
  outline: 2px solid #0891b2;
  outline-offset: 0.08rem;
}

/******** Firefox styles ********/
/* slider track */
input[type='range']::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type='range']::-moz-range-thumb {
  border: none;
  border-radius: 0;

  /*custom styles*/
  background-color: #5cd5eb;
  height: 1rem;
  width: 1rem;
}

input[type='range']:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}
